@use './fonts.scss';
@use './constants.scss' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @include media(m) {
    scroll-padding-top: 5em;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  @include font-size(m);
  color: c(light);
  font-weight: 400;
  letter-spacing: 0.02em;
}

p {
  line-height: 1.6;
}
